body{
    border-left: 1px solid black;
}
.pg-body{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    
}
.question{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-pg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #841288;
    color: white;
    border:1px solid black ;
    border-radius: 10px;
}
.option-section{
    padding-top: 5rem;
    height: 30%;
    width:80%;
}

form{
   
height: 300px;
width: 500px;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.input-fld{
 background-color: aqua;
 width: 100%;
 border-radius: 10px;
 border:1px solid black;
}